@import "~bulma/bulma";

.is-clickable {
  cursor: pointer;
}

.modal > .card {
  min-width: 30%;
}

.card-header > .media {
  padding: 1em;
}

#card-tags {
  margin-top: 1.25em;
}

.is-clear {
  visibility: hidden;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}