@import "~bulma/bulma";

// tasks
.media-content {
  padding: 5px;
}

// modifiers
.is-clickable {
  cursor: pointer;
}

.is-clear {
  visibility: hidden;
}

// modal
.modal > .card {
  min-width: 30em;
}

.modal .media-due-date {
  color: white;
}

.card-header > .media {
  padding: 1em;
}

#card-tags {
  margin-top: 1.25em;
}

.media {
  width: 100%;
}

// editing
[contenteditable]:focus {
  outline: 0px solid transparent;
  background-color: whitesmoke;
}

// board view
.board {
  min-width: 20em;
  max-width: 25em;
}

#board-view {
  overflow: scroll;
  height: 100%;
}

#board-view > .column {
  max-width: 25em;
}

html,
body,
.container,
.section,
.columns {
  height: 100%;
  padding-right: 0;
  padding-bottom: 0;
}

// icons

.card-header-icon > .icon {
  color: darkgray;

  :hover {
    color: gray;
  }
}

#delete-project {
  color: darkgray;

  :hover {
    color: gray;
  }
}
