doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='bulma.css')
    script(type='text/javascript' src='bundle.js')
    include includes/projectCard.pug
  body
    container.container
      section.section
        .columns
          .column.is-one-fifth#menu-view
          .column
            header.subtitle.has-text-centered#project-title
            .columns#board-view
