doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='bulma.css')
    script(type='text/javascript' src='bundle.js')
  body
    container.container
      h1.title toDo
      section.section
        .box#listView